/*
TODO: Add animations once Arwin learns them.

*/

::selection {
  color: black;
  background: #ff6550;
}

body {
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-rows: 1fr 5fr;

  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body > * {
  background-color: #566270;
}

header {
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

/* Lists start */
ul {
  list-style: none;
  padding-left: 20px;
}

.list-icon {
  position: relative;
  top: 0.16rem;
  margin-right: 10px;
}
/* Lists end */

/* Sidebar start */
.sidebar {
  grid-area: 1 / 1 / 3 / 2;

  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  background-color: #7b8898;
  color: #ffffff;

  display: grid;
  grid: 100px 1fr 1fr / 1fr;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  color: #d3e8f7;
  text-shadow: 1px 1px rgba(190, 233, 232, 0.4);
}

.title-wrapper {
  position: relative;
}

.title {
  font-size: 2rem;
}

.version-number {
  position: absolute;
  bottom: -5px;
  right: 0px;
}

.nav.items {
  display: grid;
  line-height: 40px;
  font-size: 1.2rem;
}

.nav.settings {
  margin-left: 30px;
  line-height: 2rem;
}

.nav a:hover {
  color: #c5d2e0;
}

.self-destruct-wrapper {
  position: relative;
}

.new-banner {
  position: absolute;
  left: 100px;
  top: 0.5rem;
  padding: 0.1rem;
  background-color: #ff6550;
  line-height: 0.8rem;
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
}

/* Sidebar end */

header {
  grid-area: 1 / 2 / 2 / 3;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template-areas:
    'projects announcements'
    'projects trending';
}

/* Projects start */
.projects {
  grid-area: projects;

  display: grid;
  grid-template-rows: min-content 1fr;

  padding: 10px 10px;
  /* border: 1px solid rgb(255, 0, 0); */
}

.projects h2 {
  color: #d3e8f7;
}

.cards {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, 290px);
  gap: 10px;
}

.card {
  display: grid;
  grid: 20px 220px 20px/ 1fr;
  align-items: center;

  font-size: 0.9rem;
  color: #ffffff;

  background: linear-gradient(rgb(117, 128, 141) 0%, rgb(104, 116, 129) 100%);
  padding: 10px 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-left: 3px solid #ff6550;
}

.card h3 {
  font-size: 1.1rem;
}

.card p {
  align-self: start;
}

.actions {
  display: flex;
  justify-content: right;
  gap: 5px;
}

/* Projects end */

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
